.NavLinks{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.NavLinks .NavUrls{
    display: flex;
}
/* .dropdown-menu{
    display: none;
}
.dropdown-menu.show{
    display: block !important;
} */
.css-sdjtie{
    position: absolute;
    top: 50%;
    right: 44%;
}
.profile-margin{
    margin-top: 20px;
}
body{
    background-color: blue;
}
.navbar-brand a{
    text-decoration: none;
    color: black;
}
.NavLinks a{
    text-decoration: none;
    color: gray;
}
@media only screen and (max-width: 991px) {
    .NavLinks .NavUrls{
        display: block;
    }
  }